<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>EA Graph Analysis</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/js//neovis.js"></script>

	<!-- unpkg CDN non-minified -->
	<script src="https://unpkg.com/neo4j-driver"></script>
</head>

<body onload="draw()">

	<div class="jumbotron text-center">
		<h1>CM2KG Conceptual Model to Knowledge Graph</h1>
		<p>Transform your conceptual model (Archi, ADOxx, Papyrus ...) to GraphML and gain insights about your model by apply graph based-anaylsis.</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Step 1</h3>
				<p>Upload your model.</p>
			</div>
			<div class="col-sm-3">
				<h3>Step 2</h3>
				<p>Your model is converted..</p>

			</div>
			<div class="col-sm-3">
				<h3>Step 3</h3>
				<p>Take your GraphML model.</p>
			</div>
			
			<div class="col-sm-3">
				<h3>Step 4</h3>
				<p>Gain insight about your model.</p>
			</div>
		</div>


	</div>


	<div class="row" style="margin-left: 20px; margin-right: 20px;">

		<div class="col-sm-8">
			<div id="viz" style="height:900px"></div>
		</div>

		<div class="col-sm-2">
			<div class="form-group">

				<label for="cypher">Cypher query:</label>
				<textarea rows="4" cols="50" id="cypher" class="form-control">
MATCH (n)-[r]->(m)
RETURN *</textarea>

			</div>
			<input type="submit" value="Submit" id="reload" onclick="draw()">
			<input type="submit" value="Stabilize" id="stabilize">
		</div>

	</div>

</body>

<script type="text/javascript">
	// define config car
	// instantiate nodevis object
	// draw



	console.log(NeoVis.NEOVIS_DEFAULT_CONFIG);

	var viz;

	function draw(labelConf) {
		console.log(labelConf);
		
		var config = {
			container_id: "viz",
			server_url: "bolt://localhost:7687",
			server_user: "neo4j",
			server_password: "admin",
			labels: {
				"Node": {
					"caption": "name",
					"size": "modified",
					"community": "community"
				}	
			},
			relationships: {
				"INTERACTS": {
					"thickness": "weight",
					"caption": false
				}
			},
			initial_cypher: $("#cypher").val()
		};

		viz = new NeoVis.default(config);
		viz.render();
		console.log(viz);


	}
</script>


		labelConf = [];
		
		var communityCounter = 0;
		var session = driver.session();
		session
			.run("MATCH (n) RETURN distinct labels(n)[0] as label", {

			})
			.subscribe({
				onKeys: keys => {
					console.log(keys)
				},
				onNext: record => {
					console.log(record.get('label'));
					if (record.get('label')) {
						
						var communityResult;
						/*if(record.get('community'))
							communityResult = $("#community").val();
						else
							communityResult = communityCounter;
						*/
						//TO FIX THIS
						communityResult = $("#community").val();
						
						labelConf[record.get('label')] = {
							"caption": $("#caption").val(),
							"size": $("#size").val()//,
							//"community": communityResult // Math.floor(Math.random() * 20) + 0  //"#" + ((1<<24)*Math.random() | 0).toString(16)
						};
					}
					communityCounter++;

				},
				onCompleted: () => {
					session.close() // returns a Promise
					driver.close();
					console.log(labelConf);

					console.log(JSON.stringify(labelConf));
					draw(labelConf);
				},
				onError: error => {
					console.log(error)
				}
			});
	}
	
	function drawAlgorithm() {
		//$("#alghoritmQuery").val();

		var driver = neo4j.driver(
			'bolt://localhost:7687',
			neo4j.auth.basic('neo4j', 'admin')
		);

		var session = driver.session();
		session
			.run($("#alghoritmQuery").val(), {

			})
			.subscribe({
				onKeys: keys => {
					console.log(keys)
				},
				onNext: record => {
					//console.log(record.get('name'))
				},
				onCompleted: () => {
					session.close() // returns a Promise
					driver.close();
					addConfig();

				},
				onError: error => {
					console.log(error)
				}
			});
	}
	
	//initial load
	//drawAlgorithm();
</script>


<script type="text/javascript">

var select = document.getElementById("versions");
var v = '${version}';
var options = [v, v];

	for(var i = 0; i < options.length; i++) {
    	var opt = options[i];
    	var el = document.createElement("option");
    	el.textContent = opt;
    	el.value = opt;
    	select.appendChild(el);
	}
</script>

</html>